* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  
  input {
    border: 0;
    border: 1px solid gray;
    border-radius: .25rem;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav {
  background: lightslategray;
  padding: 1rem;

  &__search {
    text-align: left;

    input {
      background: #f1f1f1;
      border: 0;
      font-size: .85rem;
      color: #000;
      padding: .7rem;
      text-indent: 1.5rem;
      min-width: 75%;
      max-width: 90%;
    }

    &-icon {
      position: absolute;
      left: .25rem;
      top: .4rem;
      color: #999;
    }

    &-wrapper {
      position: relative;
    }

    .react {
      
      &-geocoder {
        position: relative;
      }
      &-geocoder-results {
        position: absolute;
        top: 2.45rem;
        background: #f7f7f7;
        border: 1px solid #212121;
      }
      &-geocoder-item {
        font-size: .75rem;
        padding: .25rem;
        cursor: pointer;

        &:hover {
          background: #f1f1f1;
        }
      }
    }
  }
}

.form {
  text-align: left;
  width: 90%;

  label {
    font-size: .75rem;
    text-align: left;
    display: inline-block;
    padding: .5rem 0;
  }

  &__button {
    font-size: .8rem;
    margin: 1rem .5rem;
    padding: .75rem 2rem;
    background: slategray;
    border: 0;
    border-radius: .25rem;
    color: #fff;
  }

  &__field {
    margin: 1rem;
  }

  &__input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    
  }
}

.results {
  background: #f3f3f3;
  xborder: 1px solid #999;
  border-radius: .5rem;
  margin: 1.5rem;
}


pre {
  text-align: left;
}